<% if( username !== undefined){ %>
<form  method="POST" action="/logout">
  Username: <%= username %>&#32;<input type="submit" value="LogOut">
</form>
<% } else{ %>
<form  method="POST" action="/login">
  <label for="username">Username: </label>
  <input id="username" type="text" name="username" style="width: 300px">&#32;
  <input type="submit" value="LogIn">
</form>
<% } %>