<html lang="en">
<head>
  <title>TinyApp</title>
  <% include ./partials/_header.ejs %>
</head>
<body style="font-size:20px; padding:50px;">
  <% if( user_id !== undefined && user_id === userID){ %>
  <h2>Edit Your Tiny URL</h2>
    <p>Original URL: <%= long %></p>
    <p>TinyURL: <a href = <%=long%>>tinyApp.gov/<%= short %></a></p>
    <BLOCKQUOTE><form action="/urls/<%= short %>" method="POST">
      <label for="longURL">Edit TinyURL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Update">
    </form></BLOCKQUOTE>
      <form action='/urls' method='GET'><input id="Home" type="submit" value="Home" onclick="/urls" /></form>
      <% } else if (user_id !== userID && error !== 'does not exist' && user_id !== undefined) { %>
      <body style="font-size:20px; padding:50px;">
     <p>Error 403</p><p>This TinyURL belongs to another user, you cannot edit it</p><form action='/urls' method='GET'><input id="Home" type="submit" value="Home" onclick="/urls" /></form>
    </body>
       <% } else if (error === 'does not exist' && user_id !== undefined) { %>
       <body style="font-size:20px; padding:50px;">
       <p>This TinyURL does not exist</p><form action='/urls' method='GET'><input id="Home" type="submit" value="Home"/></form>
     </body>
      <% } else  { %>
    <body style="font-size:20px; padding:50px;">
     <p>Please log in</p><form action='/urls' method='GET'><input id="Home" type="submit" value="Home" onclick="/urls" /></form>
    </body>
  <% } %>
</body>
</html>