<html lang="en">
<head>
  <% include ./partials/_header.ejs %>
</head>
<body>
  <h2>Your Tiny URL</h2>
    <p>Original URL: <%= long %></p>
    <p>Shortened URL: <a href = <%=long%>>tinyApp.ca/<%= short %></p>
</body>
</html>